.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.box{
    border: 5px inset ;
    padding: 10px 0px;
    text-align: center;
    border: 3px groove forestgreen;
}   
.card-header{
    border-bottom: 2px groove;
}
.card-body{
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px groove;
}
.card-footer{
    text-align: center;
}